.single-tribe_events .tribe-events-event-meta
{
  font-size: inherit;
}

.tribe-events-tickets .tickets_price
{
  font-style: normal;
  font-size: 18pt
}
.tribe-events-meta-group .tribe-events-single-section-title {font-size: inherit}
.single-tribe_events .tribe-events-event-meta {border-radius: 4px;}
#tribe-events-content a, .tribe-events-event-meta a {color: inherit}
