/* Local Fonts */

/* montserrat-300 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('montserrat-v12-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('montserrat-v12-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('montserrat-v12-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
       url('montserrat-v12-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('montserrat-v12-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('montserrat-v12-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('montserrat-v12-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat-v12-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('montserrat-v12-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500italic - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('montserrat-v12-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
       url('montserrat-v12-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat-v12-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('montserrat-v12-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600italic - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('montserrat-v12-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
       url('montserrat-v12-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('montserrat-v12-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('montserrat-v12-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('montserrat-v12-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('montserrat-v12-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('montserrat-v12-latin-ext_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
       url('montserrat-v12-latin-ext_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('montserrat-v12-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('montserrat-v12-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-v12-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-v12-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('montserrat-v12-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat-v12-latin-ext_latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* roboto-slab-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('roboto-slab-v7-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url('roboto-slab-v7-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-slab-v7-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-slab-v7-latin-ext_latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-slab-v7-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('roboto-slab-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-slab-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-slab-v7-latin-ext_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('roboto-slab-v7-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('roboto-slab-v7-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-slab-v7-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('roboto-slab-v7-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-slab-v7-latin-ext_latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}