.tribe-events-tickets td.woocommerce{float:left}
.single-tribe_events .tribe-events-event-meta{font-size:inherit}
.tribe-events-tickets .tickets_price{font-style:normal;font-size:18px}
#tribe-bar-form .tribe-bar-submit input[type=submit]{-webkit-appearance:button;background:#666;background-image:none;border:none;border-radius:3px;color:#fff;font-size:16px;height:auto;letter-spacing:0;line-height:2;padding:10px;width:92%;transition:.5s}
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover{background-color:#283033;box-shadow:0 0 4px 1px #00b7c4}
#tribe-events-pg-template .tribe-events-content h1,.tribe-events-after-html h1,.tribe-events-before-html h1{font-size:inherit}
#tribe-events-pg-template .tribe-events-content h2,.tribe-events-after-html h2,.tribe-events-before-html h2{font-size:inherit}
#tribe-events-pg-template .tribe-events-content h3,.tribe-events-after-html h3,.tribe-events-before-html h3{font-size:inherit}
#tribe-events-pg-template .tribe-events-content h4,.tribe-events-after-html h4,.tribe-events-before-html h4{font-size:inherit}
#tribe-events-pg-template .tribe-events-content h5,.tribe-events-after-html h5,.tribe-events-before-html h5{font-size:inherit}
#tribe-events-pg-template .tribe-events-content h6,.tribe-events-after-html h6,.tribe-events-before-html h6{font-size:inherit}
.tribe-events-meta-group .tribe-events-single-section-title {font-size: inherit}
.single-tribe_events .tribe-events-event-meta {border-radius: 4px;}
#tribe-events-content a, .tribe-events-event-meta a {color: inherit}